/* Place any additional CSS styles here, if needed */

input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

input[type="submit"] {
    width: 100%;
    background-color: #007BFF;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

.content {
    overflow: auto;
}

.image-container {
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
    max-width: 50%;
}