<!DOCTYPE html>
<html>
<head>
    <title>Wiki Summary App</title>
    <link rel="stylesheet" type="text/css" href="static/styles.css">
    <link rel="icon" type="image/png" href="static/images/SiteFavicon.png">
</head>
<body>
    <div>
        <h1>Welcome to the Wiki Summary App</h1>
        {% if current_user.is_authenticated %}
            <form method="POST" action="/">
                <input type="text" name="query" placeholder="Enter your search query" required>
                <input type="submit" value="Search">
            </form>
            <a href="/user/settings" class="button">Edit Settings</a> | <a href="/logout" class="button">Logout</a>
        {% else %}
            <p>Please <a href="/login" class="button">login</a> or <a href="/register" class="button">register</a> to search.</p>
        {% endif %}
    </div>
</body>
</html>
