<!DOCTYPE html>
<html>
<head>
    <title>Reset Password Request</title>
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
    <link rel="icon" type="image/png" href="/static/images/SiteFavicon.png">
</head>
<body>
    <!-- Topbar and other common elements -->

    <div style="padding-top:100px; margin:20px;">
        <h1>Reset Password Request</h1>
        <!-- Flash messages -->

        <form method="POST" action="/reset_password_request">
            <input type="email" name="email" placeholder="Your Email" required>
            <input type="submit" value="Request Password Reset">
        </form>
    </div>

    <!-- jQuery Script -->
</body>
</html>
