<!DOCTYPE html>
<html>
<head>
    <title>Reset Password</title>
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
    <link rel="icon" type="image/png" href="/static/images/SiteFavicon.png">
</head>
<body>
    <!-- Topbar and other common elements -->

    <div style="padding-top:100px; margin:20px;">
        <h1>Reset Password</h1>
        <!-- Flash messages -->

        <form method="POST" action="/reset_password/{{ token }}">
            <input type="password" name="password" placeholder="New Password" required>
            <input type="submit" value="Reset Password">
        </form>
    </div>

    <!-- jQuery Script -->
</body>
</html>
