<!DOCTYPE html>
<html>
<head>
    <title>YouSummarize</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/SiteFavicon.png') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <div class="topbar">
        <a href="/">Home</a>
        {% if current_user.is_authenticated %}
            <div class="right">
                <a href="/user/settings">Settings</a>
                <a href="/logout">Logout</a>
            </div>
        {% else %}
            <a href="/login">Login</a>
            <a href="/register">Register</a>
        {% endif %}
    </div>

    <div style="padding-top:60px; margin:20px;">
        <h1>Welcome to YouSummarize</h1>
        {% if current_user.is_authenticated %}
            <form method="POST" action="/search" id="searchForm">
                <input type="text" name="query" id="searchInput" placeholder="Enter your search query" required>
                <div id="suggestionBox"></div>
                <input type="submit" value="Search">
            </form>
        {% else %}
            <p>Please <a href="/login" class="button">login</a> or <a href="/register" class="button">register</a> to search.</p>
        {% endif %}
    </div>

    <script>
        function debounce(func, timeout = 300){
            let timer;
            return (...args) => {
                clearTimeout(timer);
                timer = setTimeout(() => { func.apply(this, args); }, timeout);
            };
        }

        function fetchSuggestions() {
            var query = $('#searchInput').val();
            if (query.length > 2) {
                $.ajax({
                    url: '/suggest',
                    data: {'query': query},
                    success: function(data) {
                        $('#suggestionBox').empty();
                        $.each(data, function(i, suggestion) {
                            $('#suggestionBox').append('<div onclick="selectSuggestion(\'' + suggestion + '\')">' + suggestion + '</div>');
                        });
                    }
                });
            } else {
                $('#suggestionBox').empty();
            }
        }

        function selectSuggestion(value) {
            $('#searchInput').val(value);
            $('#suggestionBox').empty();
            $('#searchForm').submit("search"); 
        }

        $(document).ready(function() {
            $('#searchInput').on('input', debounce(fetchSuggestions));
        });
    </script>
</body>
</html>
